.consumers-container{
  text-align: center;
  padding-top: 25px;

  @media screen and (min-width: $tablet) {
    padding-top: 50px;
  }

  @media screen and (min-width: $desctop) {
    padding-top: 150px;
  }

}

.consumers-title__mobile{
  margin: 0 auto;
  width: 207px;
  padding-bottom: 40px;

  text-align: center;
  font-family: $title-font;
  font-weight: $main-font-waight;
  font-size: 32px;
  line-height: 1.125;
  color: $title-text-color;
  
  @media screen and (min-width: $tablet) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.consumers-title{
  padding-bottom: 80px;
  font-style: $title-font;
  font-weight: $main-font-waight;
  font-size: 48px;
  line-height: 1.146;
  text-align: center;
  color: $title-text-color;

  @media screen and (max-width: 767.5px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.consumers-list{
  position: relative;

  @media screen and (min-width: $desctop) {
    &::before{
      content: url(../images/svg/design-elem2.svg);

      position: absolute;
      top: -0.7%;
      right: 10%;
      z-index: 1;
    }
  }
}

.consumers-item{
  position: relative;
  padding: 40px 15px 30px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(odd) {
    background-color: $second-background-colot;
  }

  @media (min-width: 1024px) {
    flex-direction: row-reverse;
    justify-content: center;
    column-gap: 30px;
  
    &:nth-child(odd) {
      flex-direction: row;
      column-gap: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    padding: 100px 50px;
    border-radius: 18px;
  }
  
  &:nth-child(4){
    padding: 60px 0;
    background-color: #2D415E;
    
    @media screen and (min-width: $tablet) {
      
      background-image: url(../images/content/deer-logo.png);
      ;
      background-size: 420px;
      background-repeat: no-repeat;
      background-position: 88% 50%;
    }

    &:nth-child(4) > .container{
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 0 25px;

      width: 100%;
    }
  }
  
  @media screen and (max-width: 767.5px){
  &:nth-child(4)::before{
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-image: url(../images/content/deer-background.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: top 25% left 105%;

    transform: scale(-1, 1);
    }
  }
}

.consumer-item__text {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1024px){
    align-items: start;
  }
}

.consumers-item__title{
  margin-bottom: 25px;

  font-family: $main-font;
  font-weight: $main-font-waight;
  font-size: 24px;
  color: $title-text-color;
  text-align: center;

  @media screen and (min-width: $tablet) {
    max-width: 555px;
    font-family: $title-font;
    font-size: 48px;
    line-height: 1.333;
    text-align: left;
  }
  
}

.consumers-item__description{
  margin-bottom: 280px;

  text-align: left;
  line-height: 1.813;
  
  @media screen and (min-width: 1024px) {
    margin-bottom: 56px;
    
    max-width: 500px;
    line-height: 1.813;
  }
}

.consumer-item__img-thumb{
  width: 320px;
  height: 230px;

  @media (min-width: 1024px) {
    width: 700px;
    height: 450px;
  }

  @media (max-width: 1023.5px) {
    position: absolute;

    top: 48%;
    left: calc(50% - 160px)
  }
}

.consumer-item__img{
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.consumers-item__description.download{
  margin-bottom: 40px;
  
  font-family: $title-font;
  font-size: 32px;
  line-height: 1.125;
  text-align: center;
  color: $light-color;
  
  @media screen and (min-width: $tablet) {
    max-width: 1060px;
    font-size: 48px;
    line-height: 1.333;
  }
}

.consumer-item__btn-box{
  width: 215px;
  
  @media screen and (min-width: $tablet){
    width: 500px;
    display: flex;
    justify-content: center;
  }

  & >.regular-btn{
    border: none;
  }

  & .accent-btn {
    margin-bottom: 22px;
  
    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
      margin-right: 25px;
    }
  }
}