.header{
  position: fixed;
  width: 100%;

  box-shadow: $primary-shadow;
  background-color: #fff;

  z-index: 9998;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;

  @media screen and (min-width: $desctop) {
    height: 80px;
  }
}

.header-logo{
  height: 25px;
  width: 115px;
  background-color: black;
  
  @media screen and (min-width: $desctop) {
    height: 30px;
    width: 143px;
  }
}

.header-nav__item{
  position: relative;
  padding: 16px 0;

  &:not(:last-child) {
    margin-right: 35px;
  }
}

.header-nav__services-list{
  display: none;

  position: absolute;
  top: 95%;
  left: -145px;

  padding: 48px 40px;

  background-color: $light-color;
  box-shadow: $primary-shadow;
  border-radius: 10px;

  z-index: 2;
}

.header-nav__blog-list {
  display: none;

  position: absolute;
  top: 95%;
  left: -25px;

  min-width: 170px;
  padding: 18px 30px;

  background-color: $light-color;
  box-shadow: $primary-shadow;
  border-radius: 3px;

  z-index: 2;
}

.header-nav__item:hover .header-nav__blog-list, {
  display: block;
}

.header-nav__item:hover .header-nav__services-list, {
  display: flex;
}

.header-nav__services-item{
  width: 187px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:not(:last-child){
    margin-right: 40px;
  }

  &:last-child{
    width: 200px;
  }
}

.header-nav__blog-item{
  &:first-child{
    margin-bottom: 14px;
  }
}

.header-nav__services-icon{
  display: block;
  margin-bottom: 12px;
}

.header-nav__services-link{
  margin-bottom: 12px;
}

.header-nav__services-link, .header-nav__blog-link{
  font-family: $main-font;
  line-height: 1.375;
  color: $title-text-color;

  &:hover{
    font-weight: $accent-font-waight;
  }
}

.header-nav__services-description{
  font-size: 12px;
  line-height: 1.357;
}

.header-nav__item-content{
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.362;
  font-weight: $main-font-waight;
  color: $primary-text-color;
  background-color: transparent;
  cursor: pointer;

  &:hover, &:focus{
    font-weight: $accent-font-waight;
  }
}

.header-nav__list, .header-options{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1023.5px) {
    display: none;
  }
}

.header-options__item{
  position: relative;

  &:first-child{
    margin-right: 32px;
  }
}


.header-options__item-btn{
  background-color: transparent;
  font-family: $main-font;
  font-weight: $accent-font-waight;
  line-height: 1.172;
  font-size: 14px;

  &:hover{
    cursor: pointer;
  }
}

.header-menu-btn{
  border-radius: 50px;
  cursor: pointer;
  
  @media screen and (min-width: 1024px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.header-search{
  position: absolute;

  top: 75%;
  right: 9.4%;

  width: 525px;
  padding: 20px 15px;

  background-color: #fff;

  box-shadow: $primary-shadow;
  border-radius: 5px;

  z-index: 2;
}

.header-search__form{
  position: relative;

  margin-bottom: 10px;
}

.header-search__input{
  width: 100%;

  padding-bottom: 10px;

  border: none;
  outline: none;
  border-bottom: 1px solid $secont-text-color;

  font-size: 16px;
  line-height: 1.375;
  color: $secont-text-color;
}

.header-search__btn{
  position: absolute;
  top: 10%;
  right: 0;

  fill: #6C6C6C;;
  cursor: pointer;

  background-color: transparent;
}

.heder-search__tag-list{
  margin-top: -5px;
}

.tag-link{
  color: $primary-text-color;

  &:hover{
    color: $title-text-color;
  }
}

.header-language__list{
  position: absolute;

  top: 35px;
  left: -12px;

  padding: 12px;

  background-color: #fff;

  border-radius: 5px;
}

.header-language__item{
  color: #C0C2C3;
  font-weight: $main-font-waight;
  font-size: 14px;

  &:hover, &:focus{
    color: $title-text-color;
    font-weight: $accent-font-waight;
  }

  &:not(:last-child){
    margin-bottom: 6px;
  }
}