.podcast{
  position: relative;
  padding: 60px 0;

  @media screen and(min-width: $desctop){
    padding: 150px 0;

    &::before {
      content: url(../images/svg/design-elem9.svg);
  
      position: absolute;
  
      bottom: -30%;
      left: 3%;
    }
  
    &::after {
      content: url(../images/svg/design-elem1.svg);
  
      position: absolute;
      bottom: -90%;
      right: 15%;

      z-index: 1;
    }
  }
}

.podcast-container{
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 50px 25px;

  background-color: $btn-stroke;
  background-image: 
    url(../images/svg/oval-back1.svg),
    url(../images/svg/oval-back1.svg);

  background-repeat: no-repeat;
  background-size: 
    425px,
    305px;

  background-position:
    top 75% right 64%,
    top 65% right 30%;

  border-radius: 20px;
  
  @media screen and(min-width: $tablet){
    align-items: flex-end;

    background-size:
      425px,
      310px;

    background-position:
      top 60% left 10%,
      top -35% left 17%;
  }

  @media screen and(min-width: $desctop){
    padding: 72px 50px 72px 0;
  }

  &::before {
    content: "";

    position: absolute;

    width: 35px;
    height: 35px;

    top: 2%;
    right: 3.5%;

    border: 3px $light-color solid;
    border-radius: 50px;

    @media screen and(min-width: $desctop) {
      top: 4%;
      right: 2.5%;
    }
  }
  
  &::after {
    content: "";

    position: absolute;

    top: -3.5%;
    right: -3.5%;
    border-radius: 50px;
    width: 44px;
    height: 44px;
    background-color: $accent-color;

    @media screen and(min-width: $tablet){
      top: -5%;
      right: 0.4%;;
    }
  }
}

.podcast-box{
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and(min-width: $tablet){
    width: 50%;
  }
}

.podcast-img{
  position: absolute;

  width: 342px;
  top: 18%;
  left: 4%;

  @media screen and(min-width: $tablet) {
    transform: scale(-1, 1);
    
    top: -10%;
    left: 10%;
  }
  @media screen and(min-width: $desctop) {
    width: 383px;

  }
}

.podcast-title{
  position: relative;

  height: 72px;

  text-align: left;
  font-family: $title-font;
  font-size: 32px;
  line-height: 1.125;
  font-weight: $main-font-waight;
  color: $light-color;

  margin-bottom: 335px;

  @media screen and(min-width: $tablet) {
    margin-bottom: 50px;
  }

  @media screen and(min-width: $desctop) {
    font-size: 48px;
    line-height: 1.146;
  }
}

.podcast-container > .accent-btn{
  font-size: 20px;
  line-height: 1.15;
  width: 233px;
}